$white: #ffffff;
$black: #000000;
$theme: #8224e3;
$mute: #bbbbdc;
$dark-mute: #838daa;
$full: #2ed573;
$temporary: #ed1e79;
$freelance: #5561e2;
$part-time: #f15a24;
$text: #626c72;
$border-color:#e7edf2;