@import "variable.scss";
@import 'global.scss';
@import 'pages/include/header.scss';
@import "pages/auth.scss";
@import "pages/photos.scss";


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  //font-family: 'Nunito Sans', sans-serif;
  font-family: "Quicksand", Verdana, sans-serif;
}

body {

}

